/*  your css code here. If applicable */
#heading_1{
	color:#2a7ae2;
}
#heading_2{
	color:#f44336;
}#heading_3{
	color:#4caf50;
}#heading_4{
	color:#ff9800;
}#heading_5{
	color:#607d8b;
}#heading_6{
	color:#ffeb3b;
}